body{
background-color: pink;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 80px;
  color: white;
  text-align: center;
}

h2{
  font-family: 'Bitter', serif;
  font-size: 60px;
  color: white;
  text-align: center;
}

.center_this {
  display: block;
  margin-left: 35%;
  margin-right: auto;
  width: 27%;
}

.button {
  background-color: white;
  font-family: 'Bitter', serif;
  font-size: 18px;
  padding: 15px;
  color: lightgray;
  border: 2px solid lightgray;
  border-radius: 20px;
}

html,
body,
#hearts { height: 100%;
}
body { overflow: hidden }
#hearts { padding: 100px 0 }
.heart {
    width: 60px;
    height: 60px;
    background-image: url(dark-pink-heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.taylor{
        width: 200px;
    height: 200px;
    background-image: url(Taylor-Swift.png);
            background-size: contain;
    background-repeat: no-repeat;
}
.introimg{
    width: 200px;
    height: 200px;


    -webkit-animation: loop-img 7s linear;
    animation-fill-mode: forwards;
            background-size: contain;
    background-repeat: no-repeat;

}

.inline{
    display: inline-block;
}

div.introcontainer {
   display: block;
   /* margin-left: auto; */
   margin-right: auto;
   width: 37%;
   margin-left: 35%;
}


@keyframes loop-img {
    0% { background-image: url(IntroIMG/calvin.png); }
    12% { background-image: url(IntroIMG/conor.png); }
    24% { background-image: url(IntroIMG/harry.png); }
    36% { background-image: url(IntroIMG/jake.png); }
    48% { background-image: url(IntroIMG/joe.png); }
    60% { background-image: url(IntroIMG/johnmayer.png); }
    72% { background-image: url(IntroIMG/tayla.png); }
    84% { background-image: url(IntroIMG/tom.png); }
    96% { background-image: url(IntroIMG/you.png); }
     100% { background-image: url(IntroIMG/you.png); }
}


.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 30s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 40s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 10s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:100px;
    }
    100% {
        margin-left:800px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
