<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
 
<html>
<head>
<link rel="stylesheet" href="styles.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
      
<title>Hello World Template</title>
</head>
<body>
    <div class="introcontainer">
    <div class="taylor inline"></div>
    <h1 class="inline">+</h1>
    <div class="introimg inline"></div>
    </div>

Hello World
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file name=photo>
    <input type="submit">
<p>{{ str1 }}</p>
    
    <div id="hearts">
        <div class="heart x1"></div>
        <div class="heart x2"></div>
        <div class="heart x3"></div>
        <div class="heart x4"></div>
        <div class="heart x5"></div>
</div>
</body>
</html>